.container {
    display: flex;
    flex-direction: column;

    min-height: 100%;
}

.card>img{
    margin-top: 10px;
}

body{
    background-image: url('img/teslaback1.jpg');
    background-image: no-repeat;
    background-size: cover;

    min-height: 100%;
    position: relative;
    padding-bottom: 60px;
}

.text-muted {
    --bs-text-opacity: 1;
    color: rgba(201, 207, 214, 0.75)!important;
}

.form-control{
    background-color: #c2c3ca;
}

.card{
    background-color: #c2c3ca;
}

.card-body{
    text-align: center;
}

html{
    height: 100%;
} 

footer{
    position: absolute;
    width: 70%;
    height: 80px;
    bottom: 0px;
}